{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Hero Section -->
    <section class="bg-blue-600 text-white py-20">
        <div class="container mx-auto px-6">
            <div class="flex flex-col md:flex-row items-center">
                <div class="md:w-1/2 mb-8 md:mb-0">
                    <h1 class="text-4xl md:text-6xl font-bold mb-4">Discover Amazing Products</h1>
                    <p class="text-xl mb-6">Shop the latest trends and find incredible deals on ModernShop.</p>
                    <a href="{% url 'shop:shop' %}" class="bg-white text-blue-600 py-3 px-8 rounded-full font-bold hover:bg-gray-200 transition duration-300">Shop Now</a>
                </div>
                <div class="md:w-1/2">
                    <img src="{% static 'banner3.png' %}" alt="Hero Image" class="rounded-lg shadow-xl">
                </div>
            </div>
        </div>
    </section>
